@import "tailwindcss"; /* La nouvelle façon d'importer Tailwind v4 */

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #050505; /* Fond très noir pour le look premium */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .stroke-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }

  .glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}